.nav {
  @apply flex flex-row items-center justify-center text-black dark:text-white bg-blue;
  // background-color: transparent;
  height: 56px;
  position: relative;
  z-index: 5;
}
.branding {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  left: 5px;
}
.links {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.link {
  max-width: 120px;
  max-height: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}
.brand_logo {
  max-width: 42px;
  max-height: 42px;
}
.user {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 7px;
  right: 5px;
}
.user img {
  max-width: 48px;
  max-height: 48px;
}

.hamburger {
  position: absolute;
  left: 200px;
}

  .hamburger_line {
    @apply bg-black dark:bg-white;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
@media screen and (max-width: 700) {
  .hamburger {
    display: block;
  }
}
