// Responsive type space
:root {
  --step--4: clamp(0.48rem, calc(0.45rem + 0.18vw), 0.61rem);
  --step--3: clamp(0.58rem, calc(0.53rem + 0.26vw), 0.77rem);
  --step--2: clamp(0.69rem, calc(0.62rem + 0.36vw), 0.96rem);
  --step--1: clamp(0.83rem, calc(0.73rem + 0.5vw), 1.2rem);
  --step-0: clamp(1rem, calc(0.86rem + 0.68vw), 1.5rem);
  --step-1: clamp(1.2rem, calc(1.02rem + 0.92vw), 1.88rem);
  --step-2: clamp(1.44rem, calc(1.19rem + 1.23vw), 2.34rem);
  --step-3: clamp(1.73rem, calc(1.4rem + 1.63vw), 2.93rem);
  --step-4: clamp(2.07rem, calc(1.64rem + 2.15vw), 3.66rem);
  --step-5: clamp(2.49rem, calc(1.92rem + 2.83vw), 4.58rem);
}

// Responsive type space
:root {
  --space-3xs: clamp(0.13rem, calc(0.01rem + 0.56vw), 0.5rem);
  --space-2xs: clamp(0.25rem, calc(0.03rem + 1.11vw), 1rem);
  --space-xs: clamp(0.38rem, calc(0.04rem + 1.67vw), 1.5rem);
  --space-s: clamp(0.5rem, calc(0.06rem + 2.22vw), 2rem);
  --space-m: clamp(0.75rem, calc(0.08rem + 3.33vw), 3rem);
  --space-l: clamp(1rem, calc(0.11rem + 4.44vw), 4rem);
  --space-xl: clamp(1.5rem, calc(0.17rem + 6.67vw), 6rem);
  --space-2xl: clamp(2rem, calc(0.22rem + 8.89vw), 8rem);
  --space-3xl: clamp(3rem, calc(0.33rem + 13.33vw), 12rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.13rem, calc(-0.13rem + 1.3vw), 1rem);
  --space-2xs-xs: clamp(0.25rem, calc(-0.12rem + 1.85vw), 1.5rem);
  --space-xs-s: clamp(0.38rem, calc(-0.11rem + 2.41vw), 2rem);
  --space-s-m: clamp(0.5rem, calc(-0.24rem + 3.7vw), 3rem);
  --space-m-l: clamp(0.75rem, calc(-0.21rem + 4.81vw), 4rem);
  --space-l-xl: clamp(1rem, calc(-0.48rem + 7.41vw), 6rem);
  --space-xl-2xl: clamp(1.5rem, calc(-0.43rem + 9.63vw), 8rem);
  --space-2xl-3xl: clamp(2rem, calc(-0.96rem + 14.81vw), 12rem);

  /* Custom pairs */
  --space-s-l: clamp(0.5rem, calc(-0.54rem + 5.19vw), 4rem);
}
