@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

body {
  min-height: 100dvh;
}

* {
  min-width: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

:root {
  @apply bg-white/60 text-black;
}

.dark {
  @apply bg-black text-white;

  scrollbar-width: 4px;
  scrollbar-color: hsl(30 36% 96%) transparent;
}

/* Works on Firefox */
* {
  scrollbar-width: 4px;
  scrollbar-color: hsl(224 19% 12%) transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  @apply rounded-xl bg-grey dark:bg-white;
}

.textOnBackground {
  @apply px-1 rounded-md w-fit h-fit;
  /* From https://css.glass */
  background: rgba(75, 75, 75, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}