@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 36% 96%;
    --foreground: 222, 28% 7%;

    --card: var(--background);
    --card-foreground: var(--foreground);

    --popover: var(--background);
    --popover-foreground: var(--foreground);

    --primary: 42 100% 54%;
    --primary-foreground: 26 83.3% 14.1%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: var(--secondary);
    --muted-foreground: 25 5.3% 44.7%;

    --accent: var(--secondary);
    --accent-foreground: var(--secondary-foreground);

    --destructive: 355 78% 56%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: var(--border);
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222, 28% 7%;
    --foreground: 30 36% 96%;

    --card: var(--background);
    --card-foreground: var(--foreground);

    --popover: var(--background);
    --popover-foreground: var(--foreground);

    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: var(--foreground);

    --muted: var(--secondary);
    --muted-foreground: 24 5.4% 63.9%;

    --accent: var(--secondary);
    --accent-foreground: var(--foreground);

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: var(--foreground);

    --border: var(--secondary);
    --input: var(--input);
    --ring: 35.5 91.7% 32.9%;
  }
}

@layer base {
  * {
    @apply border-border;
    min-width: 0;
    box-sizing: border-box;

    scrollbar-width: 4px;
    scrollbar-color: var(--foreground) transparent;
  }
  body {
    @apply bg-background text-foreground;
    min-height: 100dvh;
  }
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  @apply w-1;
}

*::-webkit-scrollbar-track {
  @apply bg-transparent;
}

*::-webkit-scrollbar-thumb {
  @apply rounded-xl bg-grey dark:bg-white;
}

.textOnBackground {
  @apply h-fit w-fit rounded-md px-1;
  /* From https://css.glass */
  background: rgba(75, 75, 75, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
