@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

* {
  min-width: 0;
}

:root {
  @apply bg-white text-black;
}

.dark {
  @apply bg-black text-white;

  scrollbar-width: 4px;
  scrollbar-color: hsl(30 36% 96%) transparent;
}

/* Works on Firefox */
* {
  scrollbar-width: 4px;
  scrollbar-color: hsl(224 19% 12%) transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  @apply rounded-xl bg-grey dark:bg-white;
}
