.recipeForm {
  @apply flex flex-col gap-1;
  width: 55%;
  margin-right: auto;
  margin-left: 15%;
}

.recipeForm input {
  width: 18.75rem;
  height: 2.5rem;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: var(--step--1);
}

.recipeForm input:focus {
  @apply border-black;
}

.fileInput {
  @apply flex justify-center items-center;
  box-sizing: border-box;

  width: 49.5rem;
  height: 31.25rem;

  background: linear-gradient(
    235.91deg,
    rgba(168, 168, 168, 0.5) -0.39%,
    rgba(186, 186, 186, 0) 102.95%
  );
  border: 4px solid #000000;
  border-radius: 0.75rem;
}

.recipeForm select {
  width: 18.75rem;
  height: 2.5rem;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: var(--step--1);
}

.textarea_container {
  @apply flex flex-col  gap-1;
  width: auto;
  height: fit-content;
}

.textarea {
  width: 18.75rem;
  height: 3rem;
  border-radius: 5px;
//   padding: 0.5rem;
  font-size: var(--step--1);
  resize: none;
}

.textarea_tags {
    @apply flex flex-row flex-wrap gap-1;
    width: 18.75rem;
    
}
.textarea_tags span {
    @apply flex justify-center items-center gap-1 dark:text-white text-black bg-grey;
    width: fit-content;
    height: 1.5rem;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: var(--step--2);
}