/*TODO: finish styling and make responsive*/

.mainContainer {
    @apply flex flex-col w-1/2;
    margin: auto;
}

.recipeTitle {
    @apply font-Roboto text-3xl font-semibold;
}

.recipeImage {
    @apply rounded-xl;
    max-width: 50rem;
    max-height: 31.25rem;
}

.IngredientMethodContainer {
    @apply flex gap-5;
}

.recipeIngredients {
    @apply bg-white text-black dark:bg-dark_grey dark:text-white;
    border-radius: 0.5rem;
    width: 13rem;
    height: 16rem;
}

.method {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.steps {
    @apply bg-white text-black dark:bg-dark_grey dark:text-white;
    padding-left: 0.5rem;
    border-radius: 1rem;
    max-width:  25rem;
    max-height: 7rem;
    min-height: 5.625rem; 
}

@media (prefers-color-scheme: dark) {

}