.usernameField {
    @apply w-72 h-10 text-grey font-Roboto font-normal text-lg bg-white;
  border-radius: 12px;
  box-shadow: inset 8px 8px 16px #cdd1d0, inset -8px -8px 16px #fafffe;
  animation: ease-in-out

}
.usernameField:focus {
  outline: none;
}

.emailField {
    @apply w-72 h-10 text-grey font-Roboto font-normal text-lg bg-white;
  border-radius: 12px;
  box-shadow: inset 8px 8px 16px #cdd1d0, inset -8px -8px 16px #fafffe;
  animation: ease-in-out
}
.emailField:focus {
  outline: none;
}

.passwordField {
    @apply w-72 h-10 text-grey font-Roboto font-normal text-lg bg-white;
  border-radius: 12px;
  box-shadow: inset 8px 8px 16px #cdd1d0, inset -8px -8px 16px #fafffe;
  animation: ease-in-out
}
.passwordField:focus {

  outline: none;
}

.mainImg {
  width: 50%;
  border-radius: 40px 0px 0px 40px;
}


.login {
  
  border-radius: 0px 40px 40px 0px;
}