.usernameField {
    @apply w-72 h-10 text-grey font-Roboto font-normal text-lg bg-white;
  border-radius: 12px;
  box-shadow: inset 8px 8px 16px #cdd1d0, inset -8px -8px 16px #fafffe;
  animation: ease-in-out

}
.usernameField:focus {
  box-shadow: 8px 8px 16px #cdd1d0, -8px -8px 16px #fafffe;
}

.emailField {
    @apply w-72 h-10 text-grey font-Roboto font-normal text-lg bg-white;
  border-radius: 12px;
  box-shadow: inset 8px 8px 16px #cdd1d0, inset -8px -8px 16px #fafffe;
  animation: ease-in-out
}
.emailField:focus {
  box-shadow: 8px 8px 16px #cdd1d0, -8px -8px 16px #fafffe;
}

.passwordField {
    @apply w-72 h-10 text-grey font-Roboto font-normal text-lg bg-white;
  border-radius: 12px;
  box-shadow: inset 8px 8px 16px #cdd1d0, inset -8px -8px 16px #fafffe;
  animation: ease-in-out
}
.passwordField:focus {
  box-shadow: 8px 8px 16px #cdd1d0, -8px -8px 16px #fafffe;
}

