.usernameField {
    @apply w-72 h-10 text-grey font-Roboto font-normal text-lg bg-white;
  border-radius: 12px;
  box-shadow: inset 8px 8px 16px #cdd1d0, inset -8px -8px 16px #fafffe;
  animation: ease-in-out

}
.usernameField:focus {
  outline: none;
}

.emailField {
    @apply w-72 h-10 text-grey font-Roboto font-normal text-lg bg-white;
  border-radius: 12px;
  box-shadow: inset 8px 8px 16px #cdd1d0, inset -8px -8px 16px #fafffe;
  animation: ease-in-out
}
.emailField:focus {
  outline: none;
}

.passwordField {
    @apply w-72 h-10 text-grey font-Roboto font-normal text-lg bg-white;
  border-radius: 12px;
  box-shadow: inset 8px 8px 16px #cdd1d0, inset -8px -8px 16px #fafffe;
  animation: ease-in-out
}
.passwordField:focus {

  outline: none;
}

.Background {
  background: linear-gradient(to bottom right, #188FA7 , #fafffe )
}


@media (max-width: 1024px) {
  .mainImg {
    display: none;
  }
  .formContainer {
    @apply flex flex-col justify-center items-center w-full max-h-full;
  }
  .login {
    @apply w-full h-full;
  }
}

@media (min-width: 600px) {
  .login {
    border-radius: 40px;
  }
}


@media (min-width: 1024px) {
  .mainImg {
    width: 50%;
    border-radius: 40px 0px 0px 40px;
  }
  
  .formContainer {
    @apply flex flex-row w-3/4 h-3/4;
  }
  
  .login {
    width: 50%;
    border-radius: 0px 40px 40px 0px;
  }
}