.heroSection {
  @apply items-center flex flex-col justify-center h-52;
}

.heroTitle {
  font-size: var(--step-1);
}

.gridFlow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 40px; /* optional */
}

