.nav {
  @apply flex flex-row items-center;
  height: 56px;
  position: relative;
}
.branding {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  left: 5px;
}
.links {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  left: 50%;
  right: 50%;
  top: 5px;
}
.link {
  max-width: 120px;
  max-height: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}
.logo {
  max-width: 42px;
  max-height: 42px;
}
.user {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 7px;
  right: 5px;
}
.user img {
  max-width: 48px;
  max-height: 48px;
}
